<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621361982145-5ogfda13u96hf7i7vn2df5a77tiee686.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621361982145-5ogfda13u96hf7i7vn2df5a77tiee686</string>
	<key>API_KEY</key>
	<string>AIzaSyDVhA1jQ2_5IRkqMcnGuSftNf6-bsifywU</string>
	<key>GCM_SENDER_ID</key>
	<string>621361982145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agriconnect</string>
	<key>PROJECT_ID</key>
	<string>agriconnect-13f21</string>
	<key>STORAGE_BUCKET</key>
	<string>agriconnect-13f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621361982145:ios:5851183e3db5e1d5438240</string>
</dict>
</plist>